@model IEnumerable<EM.Domain.Aluno>

@{
    ViewData["Title"] = "Tabela de Alunos";
}

<h2>@ViewData["Title"]</h2>
<div class="" text-right">
    <a href="@Url.Action("CadastrarAluno", "Aluno")" title="Visualizar" class="btn btn-secondary">
        Cadastrar Aluno
    </a>
    <hr />

    @if (TempData["matriculanaoencontrada"] != null)
    {
        <div class="alert alert-success">@TempData["matriculanaoencontrada"]</div>
    }


    @using (Html.BeginForm("Index", "Aluno", FormMethod.Get))
    {
        <b>Opção de Busca:</b>
        <div class="form-group form-check-inline">
            <input class="form-check-input" type="radio" checked="CHECKED" name="opcao" id="flexRadioDefault1" value=1>
            <label class="form-check-label" for="flexRadioDefault1">
                Matrícula
            </label>
        </div>
        <div class="form-group form-check-inline">
            <input class="form-check-input" type="radio" name="opcao" id="flexRadioDefault2" value=2>
            <label class="form-check-label" for="flexRadioDefault2">
                Nome
            </label>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-text">
                <input type="text" class="form-control" style="width: 500px" placeholder="Matrícula ou nome do aluno..." name="searchString" aria-describedby="button1">
                <button class="btn btn-secondary" type="submit" id="button1">Buscar</button>
            </div>
        </div>

    }

</div>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th class="text-center bg-success text-white p-2 p-lg-3 border">
                @Html.DisplayName("Opções")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nascimento)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td class="text-center">
                <a href="@Url.Action("EditarAluno", new { id = item.Matricula })" title="Visualizar" class="btn btn-secondary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0
                  0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4
                  9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0
                  0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    Editar
                </a>
                <a href="@Url.Action("DeletarAluno", new { id = item.Matricula } )" title="Visualizar" class="btn btn-secondary" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1
                   1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Excluir
                </a>
            </td>
            </tr>
        }
    </tbody>
</table>